Test/Service References/RISIQueryService/RISIQueryClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RISIQueryClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IRISIQueryContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/RISIQueryService/meta?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/RISIQueryService/meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/RISIQueryService/meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RISIQueryService" />
      <xsd:import schemaLocation="http://localhost:8733/RISIQueryService/meta?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRISIQueryContract_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRISIQueryContract_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRISIQueryContract_PostQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:PostQuery" />
  </wsdl:message>
  <wsdl:message name="IRISIQueryContract_PostQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IRISIQueryContract">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRISIQueryContract/Subscribe" message="tns:IRISIQueryContract_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRISIQueryContract/SubscribeResponse" message="tns:IRISIQueryContract_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IRISIQueryContract/PostQuery" message="tns:IRISIQueryContract_PostQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRISIQueryContract/PostQueryResponse" message="tns:IRISIQueryContract_PostQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IRISIQueryContract" type="tns:IRISIQueryContract">
    <wsp:PolicyReference URI="#WSHttpBinding_IRISIQueryContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IRISIQueryContract/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostQuery">
      <soap12:operation soapAction="http://tempuri.org/IRISIQueryContract/PostQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RISIQueryClass">
    <wsdl:port name="WSHttpBinding_IRISIQueryContract" binding="tns:WSHttpBinding_IRISIQueryContract">
      <soap12:address location="http://localhost:8733/RISIQueryService/ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/RISIQueryService/ws</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>